html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1.6;
  background-color: $body;
  color: $default;
}

.big-container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a:hover,
a:active,
a:focus {
  color: $accent;
  border-bottom: 1px solid $accent;
  font-weight: 600;
}

input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  border: 1px solid $accent;
}