$default: #243f4d;
$title: #191919;
$header: #436372;
$body: #ffffff;
$accent: #fcd7b6;
$bg-btn:#a3bbc8;
$border: #dae4e9;
$text: #1f2044;
$text-link: #7b7b7b;
$input: #234969;



%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}